<!-- views/about.ejs -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>About Us</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <link rel="stylesheet" href="/stylesheets/about.css" />
  </head>
  <body>
    <%- include('partials/nav.ejs') %>
    <main class="about-container">
      <h1>About Our Bicycle Rental System</h1>
      <p>
        Welcome to our Bicycle Rental System. We aim to provide an easy-to-use
        and efficient bike rental platform for all users.
      </p>
      <p>
        Our system serves different stakeholders including individual users,
        fleet managers, and administrative staff. It facilitates smooth bike
        rental and return operations, manages fleet operations, and provides
        insightful analytics.
      </p>
      <p>
        If you encounter any issues or have suggestions, please report them on
        our
        <a
          href="https://github.com/Mohammed12des/Bicycle-Rental-System/issues/new"
          target="_blank"
          >GitHub Issues Page</a
        >.
      </p>
      <section class="creators">
        <h2>Website Created By</h2>
        <ul class="creator-list">
          <li class="creator-item">
            <img
              src="https://github.com/fluidicon.png"
              alt="GitHub Icon"
              class="github-icon"
            />
            <a href="https://github.com/Mohammed12des" target="_blank"
              >Mohammed Isa</a
            >
          </li>
          <li class="creator-item">
            <img
              src="https://github.com/fluidicon.png"
              alt="GitHub Icon"
              class="github-icon"
            />
            <a href="https://github.com/Mahmood-Almajed" target="_blank"
              >Mahmood Almajed</a
            >
          </li>
          <li class="creator-item">
            <img
              src="https://github.com/fluidicon.png"
              alt="GitHub Icon"
              class="github-icon"
            />
            <a href="https://github.com/bahaahani" target="_blank"
              >Bahaa Hani</a
            >
          </li>
        </ul>
      </section>
    </main>
  </body>
</html>
