<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/stylesheets/home.css" />
    <title>Rental Bicycle System</title>
  </head>
  <body>
    <header class="hero">
      <img src="https://wallpapercat.com/w/full/9/6/7/1926049-2048x1310-desktop-hd-cycling-mountain-bike-background-image.jpg" class="img-background">
         
      </video>
      <div class="hero-content">
        <h1>Rental Bicycle System</h1>
        <p>Choose your bike and get riding today!</p>
      </div>
    </header>
    <div class="button-container">
      <a href="/auth/sign-up" class="btn">Sign Up</a>
      <a href="/auth/sign-in" class="btn">Sign In</a>
    </div>
    <section class="info">
      <h2>Welcome to Our Bike Rental Service</h2>
      <p>
        We offer a wide range of bicycles for all your needs. Explore our
        selection and find the perfect bike for your adventure.
      </p>
    </section>
  </body>
</html>
